HOST=0.0.0.0
PORT=3214

# PostgreSQL
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=pgsqlpassword
POSTGRES_DB=postgres

# Security (set when behind TLS-terminating reverse proxy)
# SECURE_COOKIES=true

# InfluxDB
INFLUXDB_URL=http://localhost:8086
INFLUXDB_ORG=mosona
INFLUXDB_BUCKET=mosona
INFLUXDB_TOKEN=ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz==

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=