GITHUB_OWNER=mosona-labs
GITHUB_REPO=mosona-manager
RELEASE_TAG=latest
BACKEND_ASSET_AMD64=mosona_manager_linux_amd64
BACKEND_ASSET_ARM64=mosona_manager_linux_arm64
FRONTEND_ZIP_ASSET=frontend_dist.zip

# ! WARNING !
# Do NOT change the section above unless you know exactly what you are doing.

# Application ports
APP_PORT=8080

# If you want to access InfluxDB inside the Docker container:
# uncomment this line and update the InfluxDB port mapping in compose.yml
#INFLUX_PORT=8086

# Postgres
PG_DB=mm_db
PG_USER=mm_user
PG_PASSWORD=[Change_Me_Pgsql_Password]

# InfluxDB2 Init
INFLUX_USER=admin
INFLUX_PASSWORD=[Change_Me_Influx_Password]
INFLUX_ORG=mm_org
INFLUX_BUCKET=mm_bucket
INFLUX_TOKEN=[Change_Me_Long_Influx_Token]